<section id="about">
    <div class="container">
        <div class="about-content">
            <div class="text-box">
                <h2 class="title_2">
                    About us
                </h2>
                <p>
                    Comet, along with it’s partners, plays a pivotal role in real estate ecosystem as a capital investor that focuses on value extraction and creation in the real estate space. Its core competencies lie in its ability in identifying mispriced assets, pricing that variance, and correspondingly identifying the most efficient capital structure to maximise it’s potential.
                </p>
                <p>
                    Comet is not restricted to any one geographical market or property sector nor is it constrained by the usual need for real estate companies and developers to build in-house operational expertise. Rather, it seeks to create shareholder value by investing capital into an array of real estate opportunities, each with different risk profiles and appropriate risk-adjusted return targets. This is often done in collaboration with local partners who are experts in their markets and fields.
                </p>
                
            </div>
            <div class="image-box">
                <picture class="picture">
                    <source type='image/webp' srcset='assets/img/about-img.webp'>
                    <img width='100' height='100' loading='lazy' src="assets/img/about-img.jpg" alt="about-img">
                </picture>
            </div>
        </div>
    </div>
</section>
