<section id="business">
    <div class="business-content">
        <div class="title-box">
            <div class="text-box">
                <h2 class="title_2">Business activities</h2>
                <h3 class="title_3">Creating Shareholder Value-the formula of success</h3>
            </div>
            <img width='100' height='100' loading='lazy' src="assets/img/building.png" alt="building">
        </div>
            <div class="activities">
                <div class="strategy">
                    <h3 class="title_3">Strategy</h3>
                    <p>
                        In simple terms, Comet Capital is all about recognising opportunities world-wide in property, investing in these opportunities, adding value and exiting at the right time. This formula has enabled Comet Capital to grow from a GDV of GBP10 MIL in 1997 to GBP300 mil in 2021.
                    </p>
                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/coin.svg" alt="icon">
                    <h3 class="title_3">Timely investment in distressed markets</h3>

                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/money.svg" alt="icon">
                    <h3 class="title_3">Emphasis on capital efficiency</h3>

                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/brain.svg" alt="icon">
                    <h3 class="title_3">Prudent use of financial leveraging</h3>

                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/list.svg" alt="icon">
                    <h3 class="title_3">Develop strategies to realise investment in this downturn</h3>

                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/brilliant.svg" alt="icon">
                    <h3 class="title_3">Focus on value extraction and creation</h3>

                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/low-price.svg" alt="icon">
                    <h3 class="title_3">Mitigate financial risk through deal structuring  </h3>

                </div>
                <div class="activities-item">

                    <img width='100' height='100' loading='lazy' src="assets/img/target.svg" alt="icon">
                    <h3 class="title_3">Invest with clear exit plans</h3>

                </div>
            </div>
        </div>
</section>
