<section id="mainScreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>Comet Capital</h1>
            </div>
            <div class="col-lg-8 col-md-12">
                <picture class="picture">
                    <source type='image/webp' media="(max-width: 574px)" srcset='assets/img/first-screen-mobile.webp'>
                    <source media="(max-width: 574px)" srcset='assets/img/first-screen-mobile.jpg'>
                    <source type='image/webp' srcset='assets/img/first-screen.webp'>
                    <img width='100' height='100' loading='eager' src="assets/img/first-screen.jpg" alt="first">
               </picture>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 offset-lg-4">
            <div class="text-box">
                <h2 class="title_2">
                Comet Capital Ltd, formerly known as Comet Scientific Ltd (“Comet”)
                </h2>
                <h3 class="title_4">
                A global real estate investor
                </h3>
                <p>
                    Starting off it’s life as an investor in the sciences, in 1992, Comet Scientific Ltd reinvented itself as a real estate investment company that seeks out and participates in real estate related investment opportunities globally. Comet invests in properties as well as land -commercial and residential- and seeks to maximise the return of both investors and shareholders alike. This mobility allows the company to participate in optimal structures to take advantage of investment opportunities that present themselves.
                </p>
            </div>
        </div>
    </div>
</section>
