<section id="contactForm">

    <div class="container">
        <div class="contact-content">
            <h2 class="title_2">Contact us</h2>
            <div class="template-form">
                <form>
                    <div class="input-row">
                        <span class="wpcf7-not-valid">
                        <input type="text"  id="name" placeholder="Name" required/>
                        <span class="wpcf7-not-valid-tip" aria-hidden="true">*Name is not correct</span>
                        </span>
                        <input type="email" id="email" placeholder="Email">
                        <input type="tel" id="tel" placeholder="Phone">
                    </div>
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>

</section>
