<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#E1DED7">
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>Comet Capital</title>
    <link rel="shortcut icon" href="assets/img/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-5.0.2.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="style.min.css" />
    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <style>
    @font-face {
        font-family: 'Sen-Regular';
        src: url('assets/fonts/Sen-Regular.ttf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gilroy-Regular';
        src: url('assets/fonts/Gilroy-Regular.ttf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    </style>

</head>


<body>
<a class="markup-link" href="markup.html">MARKUP</a>