<header class="header">
    <div class="container">
        <div class="header-body">
            <a href="#mainScreen" class="logo"><img width='100' height='100' loading='eager' src="assets/img/comet-logo.svg" alt="logo"></a>
            <div class="header-burger">
                <span></span>
            </div>
            <nav class="header-menu">
                <ul>
                    <li><a href="#about" class="header-link">ABOUT US</a></li>
                    <li><a href="#business" class="header-link">BUSINESS ACTIVITIES</a></li>
                    <li><a href="#countries" class="header-link">ESTATE INVESTMENTS</a></li>
                    <li><a href="#contactForm" class="header-link">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
