<section id="value">
    <div class="container">
        <div class="value-row">
            <div class="value-row-item">
                <div class="text-box">
                    <h3 class="title_3">
                        Opportunities
                    </h3>
                    <ul>
                        <li>Distressed Markets</li>
                        <li>Undervalued Assets</li>
                        <li>Under-performing assets</li>
                    </ul>
                </div>
            </div>
            <div class="value-row-item">
                <div class="image-box">
                    <picture class="picture">
                        <source type='image/webp' media="(max-width: 1330px)" srcset='assets/img/value-mob.webp'>
                        <source media="(max-width: 1330px)" srcset='assets/img/value-mob.png'>
                        <source type='image/webp' srcset='assets/img/value.webp'>
                        <img src="assets/img/value.png" alt="value">
                    </picture>
                    <h2 class="title_2">Value Creation</h2>
                </div>
            </div>
            <div class="value-row-item">
                <div class="text-box">
                    <h3 class="title_3">
                        The Row
                    </h3>
                    <ul>
                        <li>Asset Purchase</li>
                        <li>Private Equity</li>
                        <li>Mezzanine Debt</li>
                    </ul>
                </div>
            </div>
            <div class="value-row-item">
                <div class="text-box">
                    <h3 class="title_3">
                        Markets
                    </h3>
                    <ul>
                        <li>USA</li>
                        <li>Netherlands</li>
                        <li>UK</li>
                        <li>Germany</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
